/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  background-color: lightblue;
  background-blend-mode: color-dodge;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 250px 0 250px;
  padding: none;
}

.navbar navbar-inverse {
  margin: 0;
  padding: 0;
}

.jumbotron {
  margin: 0;
  padding: 0;
  min-height: 100px;
  width: auto;
}

#carousel-example-generic {
  margin-top: none;
  width: auto;
  height: 360px;
}

.carousel-inner {
  position: center;
  width: auto;
  height: 360px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 70%;
  margin: auto;
}

.container {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 10;
  background-color: white;
}

.container-content  {
  padding: 5px;
}

#description #history #about {
  padding: 5px;
}

#about > div.tab-content {
  padding: 10px;
}

#about

.container blockquote {
  postion: absolute;
  margin-top:5px;
  text-shadow: -2px 2px 2px darkgray;
  text-emphasis: none;
  font-size: 20pt;
  line-height: 100%;
  font-style: italic;
}

#map-container {
  height: 250px;
}

#stats h3 {
  font-style: italic;
  text-decoration: underline;
}

#stats p {
  text-indent: 20pt;
  line-height: 50%;
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: 89BF46;
  border-radius: 5px;
}

footer>p {
  margin: 0;
  padding 10px;
  font-size: smaller;
  text-align: center;
}

footer a {
  font-size: smaller;
  color: blue;
}